{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "space-before-function-paren": ["error", "always"],
    "arrow-parens": ["warn", "always"],
    "no-magic-numbers": ["error", {
      "ignore": [0, 1, -1]
    }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
