{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "space-before-function-paren": ["error", "always"],
    "arrow-parens": ["warn", "always"],
    "no-magic-numbers": ["error", {
      "ignore": [0, 1, -1]
    }],
    "array-bracket-spacing": "off",
    "max-len": ["warn", 120],
  },
  "env": {
    "browser": true,
    "node": true
  }
}
